<div class="row">
    <h1> Proyectos Realizados</h1>
    <div class="contenedor">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/barber.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Barberia Test</h5>
              <p class="card-text">Es un prototipo de pagina de una barberia , hecha con HTML y CSS , alojada en firebase</p>
              <a href="https://barberweb-7073a.web.app/" target="_blank" class="btn btn-primary">Barberweb</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/morfy.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Galeria del Morfy </h5>
              <p class="card-text">Una Página de imagenes responsivas , Alojada en Firebase</p>
              
              <a href="https://galeriadelmorfy.web.app/" target="_blank" class="btn btn-primary">Morfy</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/unity.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Unity</h5>
              <p class="card-text">Manejo de herramientas para la creación de aplicaciones de celular Android , IOS ; tambien aplicacion y juegos para pc . Uso de C# para los 
                Scripts . Terrenos esculpidos , decorados . UX interfaces , botones y Menú . Juegos de ejemplos Alojados en Itch.io  </p>
                <br><br><br><br><br>
              <a href="https://ranioload.itch.io/" target="_blank" class="btn btn-primary">Itch.io</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <video width="320" height="240" controls>
              <source src="../../../assets/orbito.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
              
            </video>
            <div class="card-body">
              <h5 class="card-title">Three.JS</h5>
              <p class="card-text">Uso de Three.js , Biblioteca con comandos + REACT. Ejemplo Orbit Control </p>
              
            </div>
          </div>

          

          
            
        </div>
        
    
    
       

            
    
</div>

