.row{
    padding: 20px;
    background-color: darkcyan;
    width: 100%;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.contenedor{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.card{
    padding: 5px;
    margin: 10px;
    box-shadow: 10px 10px 30px black;
    width: 250px;
    height: 600px;
}

@media (max-width:575px){
    .row {
       text-align: center;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
    }

    .contenedor {
        
        flex-direction: column;
        align-items: center;

    }
}

@media (min-width:576px){
    h1 {
       text-align: center;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    
}

@media (max-width:960px){
    .row {
       text-align: center;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
    }

    .contenedor {
        
        flex-direction: column;
        align-items: center;

    }
}



