<div class="row">
    <h1> Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-12 col-lg-12 parte1">
            <h2>Pagina Web 1 </h2>
            <p> Pagina Web barberia </p>
            <a href="https://barberweb-7073a.web.app" target="_blank"> <div class="col-sm-12 col-md-8 col-lg-8 offset-md-4 offset-lg-4 parte2" >
                <img src="../../../assets/barber.png" class= "img-fluid img-proyecto" >
          </div> </a> 
            
        </div>
        
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-12 col-lg-12 parte1">
            <h2>Pagina Web 2</h2>
            <p> Imagenes Acomodadas de comidas </p>
        </div>
        <a href="https://galeriadelmorfy.web.app/" target="_blank"> <div class="col-sm-12 col-md-8 col-lg-8 offset-md-4 offset-lg-4 parte2" >
            <img src="../../../assets/morfy.png" class= "img-fluid img-proyecto" >
    
</div>