<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
          <li>    
               <h1>Programador FullStack jr - Argentina Programa</h1> 
              -<h3> (1 año)</h3>
          </li>
          <p>
 Programador fullstack jr , paginas web , base de datos , java , springboot , devops          </p>
      </ul>
  
      <ul>
          <li>    
               <h1>Cocinero Profesional</h1> 
              -<h3> (2 años)</h3>
          </li>
          <p>
 Gastronomia y alta cocina           </p>
      </ul>
  
      <ul>
          <li>    
               <h1>Auxiliar de farmacia</h1> 
              -<h3> (1 año)</h3>
          </li>
          <p>
          </p>
      </ul>
  
    </div>    
  </div>