.row{
    background-color: skyblue;
    width: 100%;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
footer{
    color: navy;
   
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}