.row{
    padding: 20px;
    width: 100%;
    margin: 0%;
    

}
div{
    background-color: rgb(98, 115, 155);

}
h1,h3{
    display: inline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width:575px){
    h1 {
       text-align: center;
    }

    
}