<div class="row">
<h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="70"
    [radius]="100"
    [title]="'HTML'"
    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#0000ff'"
    [innerStrokeColor]="'#00E4FF'"
    [animation]="true"
    [animationDuration]="1600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="70"
    [radius]="100"
    [title]="'CSS'"
    [imageSrc]="'../assets/csss.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#0000ff'"
    [innerStrokeColor]="'#00E4FF'"
    [animation]="true"
    [animationDuration]="1600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="50"
    [radius]="100"
    [title]="'Angular'"
    [titleFontSize]="'30'"
    [showTitle]="true"
    [imageSrc]="'../assets/angulartest.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#0000ff'"
    [innerStrokeColor]="'#00E4FF'"
    [animation]="true"
    [animationDuration]="1600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'Unreal Engine 5'"
    [imageSrc]="'../assets/ue.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#0000ff'"
    [innerStrokeColor]="'#00E4FF'"
    [animation]="true"
    [animationDuration]="1600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'Unity'"
    [imageSrc]="'../assets/pngegg.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#0000ff'"
    [innerStrokeColor]="'#00E4FF'"
    [animation]="true"
    [animationDuration]="1600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="50"
    [radius]="100"
    [title]="'react'"
    [imageSrc]="'../assets/reactss.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#0000ff'"
    [innerStrokeColor]="'#00E4FF'"
    [animation]="true"
    [animationDuration]="1600"
></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="55"
    [radius]="100"
    [title]="'python'"
    [imageSrc]="'../assets/python.png'"
    [showImage]="true"
    [imageHeight]="110"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#0000ff'"
    [innerStrokeColor]="'#00E4FF'"
    [animation]="true"
    [animationDuration]="1600"
></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="50"
    [radius]="100"
    [title]="'Team Work'"
    [imageSrc]="'../assets/javass.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#0000ff'"
    [innerStrokeColor]="'#00E4FF'"
    [animation]="true"
    [animationDuration]="1600"
></circle-progress>
    </div>


 
</div>