.row{
    padding: 20px;
    width: 100%;
    margin: 0%;
    box-shadow: 2px -2px 5px black;
    
    
}

div{
    background-color: rgb(119, 186, 210);
    text-align: center;
    
}

h1 , p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}





@media (min-width:576px){
    #fotoperfil {
        position: absolute;
        width: 15%;
        border-radius: 10%;
        box-shadow: 3px 3px 3px black;
        left: 3%;
        top: 400px;
    }
}

@media (max-width:575px){
    #fotoperfil {
        position: absolute;
        width: 30%;
        border-radius: 10%;
        box-shadow: 3px 3px 3px black;
        left: 35%;
        top: 410px;
    }

    
}

/*nombre*/
#nombre {
    font-weight: bold;
    margin-top: 30%;
    font-size: larger;
    
    
}