<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-lg-2">
        <img src="../../../assets/89.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2><p id="nombre">Alejandro David Raniolo</p></h2>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>
                Programador y Diseñador de Páginas Web . Programador y Diseñador de Videojuegos , Aplicaciones para PC y Dispositivos Móviles.
                Mecánico Aeronáutico, Cocinero profesional , Auxiliar Farmacéutico , Vendedor .
            
            </p>
        </span>
    </div>

</div>
