<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-lg-2">
        <img src="../../../assets/89.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">


    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <h4>
            <p>
            
                Programador y Diseñador de Páginas Web . <br>
                Programador y Diseñador de Videojuegos , Aplicaciones para PC y Dispositivos Móviles.
                <br>
                Mecánico Aeronáutico, Cocinero profesional , Auxiliar Farmacéutico , Vendedor .

            </p>
            </h4>
        </span>
    </div>

</div>