.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.redes{
    margin-right: 0.5em;
    
}
#LogoAP{
    width: 150px;
}

img {
    width: 50px;
    padding: 3px;
    
    
}



img:hover:not(#LogoAP){
    background-color: red;
    border-radius: 90%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
    
    
    
}

img:active:not(#LogoAP) {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#cv{
    border-radius: 90%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    border-width: medium;
    margin: 10px;
}

@media (max-width:575px) {

    .container {
        flex-direction: column;
    }
    
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.2em;
    }
    }

    @media (max-width:320px) {

        .container {
            flex-direction: column;
        }
        
        .redes{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 10%;
        }
        .redes img{
            margin: 0.9em;
            
        }

        .btn {
            border-width: medium;
            margin-left: 35%;
            align-items: center;
        }
        }