<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="LogoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/alejandro-raniolo-b40a39202/" target="_blank"><img src="../../../assets/linkedin.png" id="Linkedin"></a>
                <a href="https://twitter.com/ADRaniolo"target="_blank"><img src="../../../assets/twitter.png" id="Twitter"></a>
                <a href="https://github.com/RanioloAD"target="_blank"><img src="../../../assets/github.png" id="Github"></a>
                <a href="https://www.facebook.com/ALVCR/"target="_blank"><img src="../../../assets/facebook.png" id="Facebook"></a>
                <button type="button" class="btn btn-outline-light">Log in</button>
            </div>
        </div>
    </div>
</div>


